body
{

	background-image: url(images/fond_4.jpg);
	margin: auto;
	max-width: 100rem;
	background-size: cover;
	background-attachment: fixed;
	color: black;
	font-family: "Oswald", sans-serif;
}

header img#logo
{
	margin-top: 1%;
	float : left;
	width : 20%;
	border-radius: 15px;
	margin-left: 35px;
}

header img#titre
{
	width : 35%;
	border-radius: 15px;
	margin-left: auto; 
	margin-left: 9%;
}

header #recherche
{
	width : auto;
	height : auto;
	margin-top : 1%;
	margin-right: 60%;
	text-align: right;
}

header #panier
{
	max-width : 7%;
	border-radius: 15px;
	display: inline-block;
	float: right;
	margin-right: 3%;
	margin-top: 2%;
}

ul#navigation li
{
	display: inline-block;
}


#navigation 
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

header a /* Recherche */
{
	color: black;
	text-decoration: none;
}

section
{
	text-align: center;
}

#bienvenue
{
	width: 15%;
	border-radius: 150px;
}

section#corps h1
{
	text-transform: UPPERCASE;
	font-size: 40px;
}

section#corps #phrase
{
	background-color: white;
	font-size: 125%;
}

article img
{
	max-width: 15em;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#categorie
{
	margin-top: 20px;
	text-align: center;
}

#categorie li
{
	display: inline;
}

#categorie #homme
{
	width: 10%;
	margin-right: 20%;
	border-radius: 15px;
	color: black;
	font-size: 25px;
	font-family: "Oswald", sans-serif;
}

#categorie #femme
{
	width: 10%;
	margin-right: 20%;
	border-radius: 15px;
	color: black;
	font-size: 25px;
	font-family: "Oswald", sans-serif;
}

#categorie #enfant
{
	width: 10%;
	border-radius: 15px;
	color: black;
	font-size: 25px;
	font-family: "Oswald", sans-serif;
}


#Promotion
{
	width: 20%;
	border-radius: 15px;
}

#produits
{
	margin-bottom: 5%;
}

#produits li img
{
	width: 80%;
}

#produits a
{
	display: inline-block;
	margin: 1%;
	text-decoration: none;
	color: black;
	font-weight: bold;
	background-color: white;
	border: solid;
	border-color: #A9A9A9;
	border-bottom-color: #000000;
	border-top-color: #000000;
	border-width: 10px;
}

#produits p
{
	font-size: 110%;
}

#produits li
{
	display: inline;
}

#produits .label
{
	font-size: 150%;
	font-family: 'Advent Pro';
}

.prixb
{
	text-decoration: line-through;
	padding-right: 7px;
}

.prix
{
	background-color: #ff0000;
}

#produits p.prixb, #produits p.prix
{
	display: inline;
	font-size: 150%;
}

footer
{
	text-align: center;
	padding-bottom: 20px;
	border-top: groove;
	border-top-width: 10px;
	border-color: #696969;
	background-color: black;
}

footer li
{
	margin-top: 2%;
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-right: 8%;
}

footer li a
{
	color: white;
	text-decoration: none;
}

@media only screen and (min-width : 481px) and (max-width : 1024px)
{
	header img#logo
	{
	float : none;
	width : 100%;
	}
	#titre,
	#bienvenue,
	#corps{
		display: none;
	}

	header #panier
{
	max-width: 30%;
}

	header #recherche{
	max-width: 30%;
	}

	section#produits li{
		display: block;
		width: 100%;
		padding-top: 10em;
	}

	footer li {
		width: 60%;
		padding-bottom: 10px;
	}
}

input[type="submit"]{border:none; background:#000; color:#fff}
