body
{

	background-image: url(images/fond_4.jpg);
	margin: auto;
	max-width: 100rem;
	background-size: cover;
	background-attachment: fixed;
	color: black;
	font-family: "Oswald", sans-serif;
}

header img#logo
{
	margin-top: 1%;
	float : left;
	width : 20%;
	border-radius: 15px;
	margin-left: 35px;
}

header img#titre
{
	width : 35%;
	border-radius: 15px;
	margin-left: auto; 
	margin-left: 9%;
}

header #recherche
{
	width : auto;
	height : auto;
	margin-top : 1%;
	margin-right: 60%;
	text-align: right;
}

header #panier
{
	max-width : 7%;
	border-radius: 15px;
	display: inline-block;
	float: right;
	margin-right: 3%;
	margin-top: 2%;
}

ul#navigation li
{
	display: inline-block;
}


#navigation 
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

header a /* Recherche */
{
	color: black;
	text-decoration: none;
}



section
{
	text-align: center;
	display: block;
	font-size: 140%;
	background-color: white;
	border: groove;
	border-color: black;
	border-width: 10px;
	margin: 10px 2em 10px 2em;
}

aside#who {

    width: 38%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    border-left-style: dotted;
    border-left-color: black;
    color: #000000;
}

aside#who > p {
    margin: .2rem;
}

#iam
{
	float: left;
}

footer
{
	text-align: center;
	padding-bottom: 20px;
	border-top: groove;
	border-top-width: 10px;
	border-color: #696969;
	background-color: black;
}

footer li
{
	margin-top: 2%;
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-right: 8%;
}

footer li a
{
	color: white;
	text-decoration: none;
}
@media only screen and (min-width : 481px) and (max-width : 1024px)
{
	header,
	section#corps,
	section#produits,
	footer {
    width: 50%;
  }
}

input[type="submit"]{border:none; background:#000; color:#fff}
