body
{
  margin: auto;
  max-width: 100rem;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Oswald", sans-serif;
}

header img#titre
{
	margin-right: 450px;
	width : 40%;
}

header img#logo
{
	float : left;
	width : 28%;
}

header
{
	border-bottom: ridge;
	border-color: coral;
}

header #recherche
{
	width : auto;
	height : auto;
	margin-bottom : 35px;
}

header #panier
{
	max-width : 30%;
	margin-left: 50%;
}

ul#navigation li
{
	display: inline-block;
}


#navigation 
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

header a /* Recherche */
{
	color: black;
	text-decoration: none;
}

section
{
	text-align: center;
	margin-bottom: 10px;
}

section#corps h1
{
	text-transform: UPPERCASE;
}

article img
{
	max-width: 15em;
}

ul
{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

section #produits img
{
	border: solid;
	border-color: black;
}

section #produits a
{
	text-align: justify;
	vertical-align: middle;
	display: inline-block;
	text-transform: UPPERCASE;
	margin: 1%;
	text-decoration: none;
	color: white;
}

footer
{
	text-align: center;
	margin-bottom: 20px;
}

footer a+ li
{
	border-left: solid;
	margin-left: 10px;
	padding-left: 10px;

}

footer li
{
	display: inline-block;
	color: white;
	text-decoration: none;
}

@media only screen and (min-width : 481px) and (max-width : 1024px)
{
	header,
	section#corps,
	section#produits,
	footer {
    width: 50%;
  }
}

input[type="submit"]{border:none; background:#000; color:#fff}
