body
{
  background-image: url("../assets/images/fond_4.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-family: Tahoma, Geneva, sans-serif;
}

header img#logo
{
  margin-top: 1%;
  float : left;
  width : 20%;
  border-radius: 15px;
  margin-left: 35px;
}

header img#titre
{
  width : 35%;
  border-radius: 15px;
  margin-left: auto; 
  margin-left: 9%;
}

header #panier
{
  max-width : 7%;
  border-radius: 15px;
  display: inline-block;
  float: right;
  margin-right: 3%;
  margin-top: 2%;
}

#corps, #corps2, #corps3, #corps4
{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1% -16px;
}

#col-25 
{
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 
{
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 
{
  -ms-flex: 75%;
  flex: 75%;
}

#col-25, .col-50, .col-75 
{
  padding: 0 16px;
}

#commande1, #commande2
{
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] 
{
  width: 98%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label 
{
  margin-bottom: 10px;
  display: block;
}

#Carte img
{
  width: 5%;
  margin-right: 1%;
  margin-bottom: 2%; 
}

.CCommande 
{
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.CCommande:hover 
{
  background-color: #45a049;
}

span.price 
{
  float: right;
  color: grey;
}

#commande2
{
  font-size: 150%;
}

#commande2 h4
{
  text-decoration: underline;
}

#commande2 a
{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

footer
{
  margin: 1% 0% 0% 0%;
  text-align: center;
  padding-bottom: 20px;
  border-top: groove;
  border-top-width: 10px;
  border-color: #696969;
  background-color: black;
}

footer li
{
  margin-top: 2%;
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-right: 7%;
}

footer li a
{
  color: white;
  text-decoration: none;
}


@media (min-width : 481px) and (max-width : 1024px)
{
  #corps {
    flex-direction: column-reverse;
  }
  #col-25 {
    margin-bottom: 20px;
  }
}