body
{
  margin: auto;
  max-width: 100rem;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}


header img#logo
{
	float : left;
	width : 7%;
}

header
{
	border-bottom: ridge;
	border-color: coral;
}

header button#recherche
{
	width : auto;
	height : auto;
	margin-right : 40em;
}

header input#panier
{
	max-width : 6%;
	margin-bottom: -15px;
}

header li	/* aligner */
{
	display : inline-block;
}


header nav /* Centrer barre de navigation */
{
	text-align: center;
}

header a /* Recherche */
{
	color: black;
	text-decoration: none;
}

section
{
	border-bottom: groove;
	border-bottom-width: 5px;
	border-color: grey;
	text-align: center;
	
}

section#corps h1
{
	text-transform: UPPERCASE;
}

.img-produit img
{
	max-width: 20em;
}

article
{
	text-align: justify;
	vertical-align: middle;
	display: inline-block;
	max-width: 60%;
	margin-right: 2em;
}

footer
{
	text-align: center;
}

footer li+ li
{
	border-left: solid;
	margin-left: 10px;
	padding-left: 10px;
}

footer li
{
	display: inline;
}
input[type="submit"]{border:none; background:#000; color:#fff}
