body
{
  margin: auto;
  max-width: 100rem;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}


header img#logo
{
	float : left;
	width : 7%;
}

header
{
	border-bottom: ridge;
	border-color: coral;
}

header #recherche
{
	width : auto;
	height : auto;
	margin-bottom : 35px;
}

header #panier
{
	max-width : 14%;
	margin-left: 50%;
}

ul#navigation li
{
	display: inline-block;
}


#navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

header a /* Recherche */
{
	color: black;
	text-decoration: none;
}

section#corps h1
{
	text-transform: UPPERCASE;
}
section
{
	border-bottom: groove;
	border-bottom-width: 5px;
	border-color: grey;
	text-align: center;
	margin-bottom: 10px;
}



ul
{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

aside#who {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 1.5px -5px 5px 1px #6D6D6D;
    color: #000000;
}

aside#who > p {
    margin: .2rem;
}

footer
{
	text-align: center;
	margin-bottom: 20px;
}

footer a+ li
{
	border-left: solid;
	margin-left: 10px;
	padding-left: 10px;

}

footer li
{
	display: inline-block;
	color: black;
	text-decoration: none;
}

@media only screen and (min-width : 481px) and (max-width : 1024px)
{
	header,
	section#corps,
	section#produits,
	footer {
    width: 50%;
  }
}

input[type="submit"]{border:none; background:#000; color:#fff}

/* article */
section#produit
{
	float: left;
	width: 100%;
}
 
h2 {
	font-family: Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	padding-bottom: 10; 
	font-size: 16pt;
	color: #aaa; 
}
article#img 
{
	margin-top: 30px;
	margin-bottom: 30px;
	display: inline-block;
}	

article#img img
{
	max-width: 63%;
}

aside#detail
{
	border-left-style: solid;
	margin-top: 30px;
	padding-left: 40px;
	font-family: Tahoma, Arial, sans-serif;
	line-height: 150%;
	max-width: 30%;
	color: #333;
	float: right;
}

button#Add {
	background: #36a9ea;
	background: linear-gradient(top, #36a9ea 0%,#127fd2 100%);
	border: 1px solid #00599d;
	color: #fff;
	padding: 8px 20px;
	border-radius: 3px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .1), inset 0px 1px 0px 0px rgba(250, 250, 250, .3);
	text-shadow: 0px 1px 1px #156cc4;
	font-size: 10pt; }
 
	button#Add:hover {
		background: #2f90d5;
		background: linear-gradient(top, #2f90d5 0%,#0351b7 100%);
		}
 
	button#Add:active {
		background: #127fd2;
		box-shadow: inset 0px 2px 1px 0px rgba(0, 47, 117, .5), 0px 1px 1px 0px rgba(0, 0, 0, 0); 
	}

	footer {
  clear: both;
}
