body
{
  margin: auto;
  max-width: 100rem;
  background-color: #a30526;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-family: "Oswald", sans-serif;
}


header img#logo
{
	float : left;
	width : 20%;
	border-radius: 15px;
	margin-left: 35px;
}

header img#titre
{
	display: block;
	width : 40%;
	border-radius: 15px;
	margin-left: auto; 
	margin-right: 30em;
}

header
{
	border-bottom: ridge;
	border-bottom-width: 10px;
	border-color: #696969;
}

header #recherche
{
	width : auto;
	height : auto;
	margin-bottom : 30px;
	margin-right: 20%;
}

header #panier
{
	max-width : 30%;
	margin-left: 35%;
	border-radius: 15px;
	margin-top : 50px; 
}

ul#navigation li
{
	display: inline-block;
}


#navigation 
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

header a /* Recherche */
{
	color: black;
	text-decoration: none;
}

section
{
	text-align: center;
}

section#corps
{
	border-bottom: groove;
	border-bottom-width: 10px;
	border-color: #696969;
}

#bienvenue
{
	width: 15%;
	border-radius: 150px;
}

section#corps h1
{
	text-transform: UPPERCASE;
	font-size: 40px;
}

section#corps p
{
	background-color: white;
	font-size: 125%;
}

article img
{
	max-width: 15em;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#categorie
{
	margin-top: 20px;
	text-align: center;
}

#categorie li
{
	color: black;
	font-size: 25px;
	font-family: "impact", sans-serif;
	display: inline;
}

#categorie #homme
{
	width: 10%;
	margin-right: 20%;
	border-radius: 15px;
}

#categorie #femme
{
	width: 10%;
	margin-right: 20%;
	border-radius: 15px;
}

#categorie #enfant
{
	width: 10%;
	border-radius: 15px;
}

#promotion h1
{
	text-transform: UPPERCASE;
	font-size: 50px;
}

#Promotion
{
	width: 20%;
	border-radius: 15px;
}

section #produits img
{
	border: ridge;
	border-width: 10px;
	border-color: #5b0416;
	width: 100%;
	border-radius: 15px;
}

section #produits a
{
	text-align: justify;
	vertical-align: middle;
	display: inline-block;
	margin: 1%;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

section #produits li
{
	display: inline;
}

.prixb
{
	text-decoration: line-through;
	padding-right: 7px;
}

p.prixb, p.prix
{
	display: inline;
}

footer
{
	text-align: center;
	margin-bottom: 20px;
	border-top: groove;
	border-top-width: 10px;
	border-color: #696969;
}

footer li+ li
{
	border-left: solid;
	margin-left: 10px;
}

footer li
{
	margin-top: 10px;
	display: inline-block;
	text-decoration: none;
	background-color: white;

}

footer li a
{
	color: black;
	text-decoration: none;
}

@media only screen and (min-width : 481px) and (max-width : 1024px)
{
	header,
	section#corps,
	section#categorie,
	section#produits,
	footer {
    width: 50%;
  }
}

input[type="submit"]{border:none; background:#000; color:#fff}
